<div class="author">
  <h1 class="author-heading">Hi, I'm Matthew</h1>
  <p class="author-body">Web Developer</p>
</div>

<section class="articles">
  <h2 class="articles-heading">Latest Post</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list-date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
